
@import '../node_modules/normalize.css/normalize.css';
@import './css/table.css';

@page {
    size: 8.5in 11in;
    margin: 0.75in;
}

body {
    background: #ccc;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 150px 0 1em;
    font-size: 14px;
    font-weight: normal;
}

.container {
    width: 6.9in;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* links */
a {
    color: #337ab7;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

/* font alignment helpers */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/* header tags */
h1 {
    margin-top: 0;
}
h1, h2, h3 {
    text-shadow: 1px 1px 1px #ccc;
}

.fixednav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* print header */
header {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 3px #666,0 10px 6px -6px #666;
    width: 6.9in;
    margin: 0 auto;

    .form {
        display: inline-block;
    }
    #reporttitle, select {
        width: 100%;
        padding: 3px;
        font-size: 0.8em;
        border: 1px solid #a2a2a2;
        margin-bottom: 5px;
    }
    select {
        margin-top: 5px;
    }
    #reporttitle {
        margin-bottom: 10px;
    }
}

/* Button */
.button {
    background-color: #CBCDCB; /* Green */
    border: none;
    color: #555;
    padding: 7px 12px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #666;
    font-size: 12px;
    font-weight: bold;
}

/* first page text */
.blather {
    column-count: 2;
    column-gap: 20px;

    p:first-child {
        margin-top: 0;
    }
}

/* map */
.embed {
    height: 9.4in;
    iframe {
        overflow: hidden;
        border: none;
    }
}

/* pages */
.page {
    width: 6.9in;
    height: 9.4in;
    margin: 50px auto;
    padding: 0.2in;
    background: white;
	box-shadow: 0 0 3px #666,0 10px 6px -6px #666;
    position: relative;
}
.page-map {
    padding: 0;
    display: none;
}
.printfooter {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

@media print {
    .fixednav {
        display: none;
    }
    body {
        padding: 0;
    }
    .page {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}
